body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: #202020;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#more {
    position: absolute;
    border-style: solid;
    border-width: thin;
    border-color: rgb(17, 17, 17);
}

.btn {
    background-color: #512c92;
    color: white;
    padding: 10px 16px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}